# New hotplug service activation by Guilhem Lettron.
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c226", TAG+="systemd", ENV{SYSTEMD_ALIAS}="/sys/subsystem/usb/g15"
